<div class="contact-site">
    <!--Hero Kontakt und Ansprechpartner-->
    <div class="contacts-hero">
        <div class="contacts-hero-text">
            <h1>Kontakt & Ansprechpartner</h1>
            <p>
                Haben Sie Fragen, Anregungen oder möchten Sie Mitglied werden? Hier finden Sie alle wichtigen Kontakte
                und Informationen.
            </p>
        </div>
    </div>

    <div class="contacts-inner">
        <!--Vereinsinformationen, left side of chart-->
        <aside class="assoc-infos">
            <h2>Vereinsinformationen</h2>
            <div class="assoc-content">
                <div class="assoc-infos-item">
                    <svg class="icon assoc-icon">
                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#standort-ph"></use>
                    </svg>
                    <div class="assoc-infos-text">
                        <p>Postanschrift</p>
                        <p>
                            Goyatzer SV e.V.<br>
                            Goyatzer Dorfstraße 13<br>
                            15913 Schwielochsee
                        </p>
                    </div>

                </div>
                <div class="assoc-infos-item">
                    <svg class="icon assoc-icon">
                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#fussballfeld-ph"></use>
                    </svg>
                    <div class="assoc-infos-text">
                        <p>Sportplatz</p>
                        <p>irgendwo in Goyatz<br>15913 Schwielochsee</p>
                    </div>

                </div>
                <div class="assoc-infos-item">
                    <svg class="icon assoc-icon">
                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#telephone-ph"></use>
                    </svg>
                    <div class="assoc-infos-text">
                        <p>Telefon (Geschäftsstelle)</p>
                        <p class="clickable">+49 1234567890</p>
                    </div>

                </div>
                <div class="assoc-infos-item">
                    <svg class="icon assoc-icon">
                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#email-ph"></use>
                    </svg>
                    <div class="assoc-infos-text">
                        <p>E-Mail (Allgemein)</p>
                        <p class="clickable">post@goyatzersv.de</p>
                    </div>

                </div>
                <div class="assoc-infos-item">
                    <svg class="icon assoc-icon">
                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#follow-ph"></use>
                    </svg>
                    <div class="assoc-infos-text">
                        <p>Folgen Sie uns</p>
                        <div class="assoc-infos-social">
                            <a href="https://www.facebook.com/" target="_blank" aria-label="Facebook">
                                <svg class="icon">
                                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#facebook-blue"></use>
                                </svg>
                            </a>
                            <a href="https://www.twitter.com/" target="_blank" aria-label="Twitter">
                                <svg class="icon">
                                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#twitter-blue"></use>
                                </svg>
                            </a>
                            <a href="https://www.instagram.com/goyatzer_sv/" target="_blank" aria-label="Instagram">
                                <svg class="icon">
                                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#instagram-blue"></use>
                                </svg>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </aside>

        <!--right Side of chart-->
        <div class="key-contacts-block">
            <h2>Ihre Ansprechpartner im Verein</h2>

            <!--executives personas-->
            <div class="contacts-personas">
                <h3>Vorstand</h3>
                <hr class="contacts-hr">
                <div class="contacts-item-all">
                    <div class="contacts-item">
                        <div class="contacts-item-img">
                            <img src="./assets/img/ph-testimonial2.jpg" alt="Kathleen Feldner">
                        </div>
                        <h4>Kathleen Feldner</h4>
                        <p>Vorstandsvorsitzende</p>
                        <a href="mailto:vorstand@goyatzersv.de">
                            <div class="contacts-item-mail clickable">
                                <svg class="icon contacts-item-mail-icon">
                                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#email-ph"></use>
                                </svg>
                                <p>vorstand@goyatzersv.de</p>
                            </div>
                        </a>
                    </div>
                    <div class="contacts-item">
                        <div class="contacts-item-img">
                            <img src="./assets/img/ph-testimonial4.jpg" alt="Manuela Wichmann">
                        </div>
                        <h4>Manuela Wichmann</h4>
                        <p>Geschäftsführerin und stellvertretende Vorsitzende</p>
                        <a href="mailto:vorstand@goyatzersv.de">
                            <div class="contacts-item-mail clickable">
                                <svg class="icon contacts-item-mail-icon">
                                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#email-ph"></use>
                                </svg>
                                <p>geschaeftsfuehrung@goyatzersv.de</p>
                            </div>
                        </a>
                    </div>
                    <div class="contacts-item">
                        <div class="contacts-item-img">
                            <img src="./assets/img/ph-testimonial3.jpg" alt="Stefan Asmus">
                        </div>
                        <h4>Stefan Asmus</h4>
                        <p>Schatzmeister</p>
                        <a href="mailto:vorstand@goyatzersv.de">
                            <div class="contacts-item-mail clickable">
                                <svg class="icon contacts-item-mail-icon">
                                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#email-ph"></use>
                                </svg>
                                <p>schatzmeister@goyatzersv.de</p>
                            </div>
                        </a>
                    </div>
                    <div class="contacts-item">
                        <div class="contacts-item-img">
                            <img src="./assets/img/ph-testimonial5.jpg" alt="Steffi Richter">
                        </div>
                        <h4>Steffi Richter</h4>
                        <p>Schriftführerin</p>
                        <a href="mailto:vorstand@goyatzersv.de">
                            <div class="contacts-item-mail clickable">
                                <svg class="icon contacts-item-mail-icon">
                                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#email-ph"></use>
                                </svg>
                                <p>post@goyatzersv.de</p>
                            </div>
                        </a>
                    </div>
                    <div class="contacts-item">
                        <div class="contacts-item-img">
                            <img src="./assets/img/ph-testimonial6.jpg" alt="Alexander Zimmerling">
                        </div>
                        <h4>Alexander Zimmerling</h4>
                        <p>Technischer Leiter und Jugendwart</p>
                        <a href="mailto:vorstand@goyatzersv.de">
                            <div class="contacts-item-mail clickable">
                                <svg class="icon contacts-item-mail-icon">
                                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#email-ph"></use>
                                </svg>
                                <p>nachwuchs@goyatzersv.de</p>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
            <!--football personas-->
            <div class="contacts-personas">
                <h3>Abteilung Fußball</h3>
                <hr class="contacts-hr">
                <div class="contacts-item-all">
                    <div class="contacts-item">
                        <div class="contacts-item-img">
                            <img src="./assets/img/ph-testimonial1.jpg" alt="Michael Staude">
                        </div>
                        <h4>Michael Staude</h4>
                        <p>Abteilungsleiter Fußball</p>
                        <a href="mailto:fußball@goyatzersv.de">
                            <div class="contacts-item-mail clickable">
                                <svg class="icon contacts-item-mail-icon">
                                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#email-ph"></use>
                                </svg>
                                <p>fußball@goyatzersv.de</p>
                            </div>
                        </a>
                    </div>
                    <div class="contacts-item">
                        <div class="contacts-item-img">
                            <img src="./assets/img/ph-testimonial3.jpg" alt="Bodo Pawlowski">
                        </div>
                        <h4>Bodo Pawlowski</h4>
                        <p>Jugendkoordinator Fußball</p>
                        <a href="mailto:fussball_jugend@goyatzersv.de">
                            <div class="contacts-item-mail clickable">
                                <svg class="icon contacts-item-mail-icon">
                                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#email-ph"></use>
                                </svg>
                                <p>fussball_jugend@goyatzersv.de</p>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
            <!--tennis personas-->
            <div class="contacts-personas">
                <h3>Abteilung Tennis</h3>
                <hr class="contacts-hr">
                <div class="contacts-item-all">
                    <div class="contacts-item">
                        <div class="contacts-item-img">
                            <img src="./assets/img/ph-testimonial2.jpg" alt="Maxi Mustermann">
                        </div>
                        <h4>Maxi Mustermann</h4>
                        <p>Abteilungsleiter Tennis</p>
                        <a href="mailto:tennis@goyatzersv.de">
                            <div class="contacts-item-mail clickable">
                                <svg class="icon contacts-item-mail-icon">
                                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#email-ph"></use>
                                </svg>
                                <p>tennis@goyatzersv.de</p>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
            <!--tabletennis personas-->
            <div class="contacts-personas">
                <h3>Abteilung Tischtennis</h3>
                <hr class="contacts-hr">
                <div class="contacts-item-all">
                    <div class="contacts-item">
                        <div class="contacts-item-img">
                            <img src="./assets/img/ph-testimonial4.jpg" alt="Petra Bremer">
                        </div>
                        <h4>Petra Bremer</h4>
                        <p>Abteilungsleiterin Tischtennis</p>
                        <a href="mailto:tischtennis@goyatzersv.de">
                            <div class="contacts-item-mail clickable">
                                <svg class="icon contacts-item-mail-icon">
                                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#email-ph"></use>
                                </svg>
                                <p>tischtennis@goyatzersv.de</p>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--contact form-->
    {app:{formular}}

    <div class="contact-map-container">
        <div class="contact-map">
            <h2>So finden Sie uns</h2>
            <div class="contact-map-iframe">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d5310.756080372196!2d14.17637962748133!3d52.01443260194881!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4707e56188ffffff%3A0xa1b59fe1e306c4e!2sSports%20Field!5e0!3m2!1sde!2sde!4v1744209185569!5m2!1sde!2sde" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
        </div>
    </div>
</div>