<div class="footer">

  <!--Logo mit Spruch auf beiden Seiten-->
  <div class="footer-motto">

    <p>Unsere Farben sind <br>GELB und BLAU.</p>
    <img src="./assets/img/gsv-logo-removed.png" alt="Logo" width="400px">
    <p>Wer sind WIR? <br>Der GSV.</p>

  </div>

  <!--blauer Footer-->
  <div class="footer-box">

    <!--Sponsoren-Logos-->
    <div class="footer-sponsors">
      <p>Unsere Sponsoren</p>

      <div class="footer-sponsors-logos">
        <a href="">
          <img src="./assets/img/BHG.svg" alt="BHG" loading="lazy">
        </a>
        <a href="">
          <img src="./assets/img/BHG.svg" alt="BHG" loading="lazy">
        </a>
        <a href="">
          <img src="./assets/img/BHG.svg" alt="BHG" loading="lazy">
        </a>
        <a href="">
          <img src="./assets/img/BHG.svg" alt="BHG" loading="lazy">
        </a>
        <a href="">
          <img src="./assets/img/BHG.svg" alt="BHG" loading="lazy">
        </a>
        <a href="">
          <img src="./assets/img/BHG.svg" alt="BHG" loading="lazy">
        </a>
        <a href="">
          <img src="./assets/img/BHG.svg" alt="BHG" loading="lazy">
        </a>
        <a href="">
          <img src="./assets/img/BHG.svg" alt="BHG" loading="lazy">
        </a>
      </div>

    </div>

    <!--Impressum, Datenschutz, Kontakt, Social Media-->
    <div class="footer-contacts-social-media">

      <div class="footer-contacts">
        <ul>
          <li><a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ" target="_blank">Impressum</a></li>
          <li><a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ" target="_blank">Datenschutz</a></li>
          <li><a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ" target="_blank">Kontakt</a></li>
        </ul>
      </div>

      <div class="footer-social-media">
        <a href="https://www.facebook.com/" target="_blank" aria-label="Facebook">
          <svg class="icon">
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#facebook"></use>
          </svg>
        </a>
        <a href="https://www.twitter.com/" target="_blank" aria-label="Twitter">
          <svg class="icon">
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#twitter"></use>
          </svg>
        </a>
        <a href="https://www.instagram.com/goyatzer_sv/" target="_blank" aria-label="Instagram">
          <svg class="icon">
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#instagram"></use>
          </svg>
        </a>
      </div>
    </div>
  </div>
</div>