<!--Landing Page -->
<div class="landing-page">

    <!--Teaser mit Sportarten-->
    <h2>Gemeinsam Sport erleben!<br>Jetzt Ihr Kind anmelden und Teil unserer starken Gemeinschaft werden!</h2>
    <div class="teaser-landingpage inner">
        <div class="teaser-landingpage-item">
            <div class="teaser-landingpage-item-text">
                <h3>Fußball</h3>
                <p>
                    Fußball stärkt Teamgeist, fördert Bewegung und Spaß. Ihr Kind gewinnt Freunde, Selbstvertrauen und
                    erlebt sportliche Erfolge!
                </p>
                <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ" class="secondary" target="_blank">
                    mehr erfahren
                </a>
            </div>
            <div class="teaser-landingpage-item-img">
                <img src="./assets/img/football-GSV-youth.jpg" alt="Fußball">
            </div>
        </div>
        <div class="teaser-landingpage-item">
            <div class="teaser-landingpage-item-text">
                <h3>Tennis</h3>
                <p>
                    Tennis fördert Ausdauer, Koordination und Selbstvertrauen. Im Verein findet ihr Kind Freunde und
                    entwickelt sportliche Fähigkeiten!
                </p>
                <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ" class="secondary" target="_blank">
                    mehr erfahren
                </a>
            </div>
            <div class="teaser-landingpage-item-img">
                <img src="./assets/img/ph-tennis-picture.jpg" alt="Tennis">
            </div>
        </div>
        <div class="teaser-landingpage-item">
            <div class="teaser-landingpage-item-text">
                <h3>Tischtennis</h3>
                <p>
                    Tischtennis schult Reaktion, Konzentration und fördert Fitness. Ihr Kind findet Freunde und hat
                    Spaß!
                </p>
                <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ" class="secondary" target="_blank">
                    mehr erfahren
                </a>
            </div>
            <div class="teaser-landingpage-item-img">
                <img src="./assets/img/ph-tabletennis-nun.png" alt="Tischtennis">
            </div>
        </div>
    </div>

    <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ" class="primary" target="_blank">
        zum Mitgliedsantrag
    </a>

    <!--Vorstellung der Vorstandsvorsitzenden-->
    <div class="board">
        <div class="board-content">
            <div class="board-text">
                <h3>Über uns - Wer sind wir?</h3>
                <p>
                    Der Goyatzer SV ist ein traditionsreicher Sportverein, der für Zusammenhalt, Begeisterung und
                    sportliche
                    Vielfalt steht. Bei uns haben Jung und Alt die Möglichkeit, ihre sportlichen Fähigkeiten zu
                    entdecken und weiterzuentwickeln.<br>Ob Fußball, Tennis, Tischtennis oder vielfältige
                    Freizeitangebote –
                    jeder findet seinen Platz und neue Freunde. Neben dem Sport ist uns die Gemeinschaft besonders
                    wichtig:
                    regelmäßige Vereinsfeste, Trainingslager und gemeinsame Aktivitäten schaffen unvergessliche
                    Erlebnisse.<br>Engagierte Trainer und ein unterstützendes Umfeld sorgen dafür, dass sich jeder bei
                    uns
                    wohlfühlt und weiterkommt. <br>Werde Teil des Goyatzer SV und erlebe Sport in einer starken
                    Gemeinschaft!
                </p>
            </div>
            <div class="board-member">
                <div class="board-member-img">
                    <img src="./assets/img/ph-vorstand-woman.png" alt="Vorstandsvorsitzende">
                </div>
                <div class="board-member-text">
                    <p class="board-name">Kathleen Feldner</p>
                    <p class="board-position">Vorstandsvorsitzende</p>
                </div>
            </div>
        </div>
    </div>

    <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ" class="primary" target="_blank">
        zum Mitgliedsantrag
    </a>

    <!--Testimonials-->
    <h3 class="testimonial-h3">Das sagen (andere) Eltern</h3>
    <div class="swiper testimonials-slider inner">
        <div class="swiper-wrapper">

            <!--Testimonial 1-->
            <div class="swiper-slide">
                <div class="testimonial-item">
                    <div class="testimonial-header">
                        <div class="testimonial-image">
                            <img src="./assets/img/ph-testimonial1.jpg" alt="Peter Schuh">
                        </div>
                        <p class="testimonial-name">Peter Schuh</p>
                    </div>
                    <div class="testimonial-text">
                        <p>
                            "Ein fantastischer Verein. Unsere Tochter hat nicht nur sportliche Fortschritte gemacht,
                            sondern auch richtig Spaß an Bewegung gewonnen."
                        </p>
                    </div>
                </div>
            </div>
            <!--Testimonial 2-->
            <div class="swiper-slide">
                <div class="testimonial-item">
                    <div class="testimonial-header">
                        <div class="testimonial-image">
                            <img src="./assets/img/ph-testimonial2.jpg" alt="Elke Müller">
                        </div>
                        <p class="testimonial-name">Elke Müller</p>
                    </div>
                    <div class="testimonial-text">
                        <p>
                            "Der Goyatzer SV verbindet Sport mit sozialem Miteinander - wir fühlen uns als Familie
                            bestens
                            aufgehoben und unterstützen gern."
                        </p>
                    </div>
                </div>
            </div>
            <!--Testimonial 3-->
            <div class="swiper-slide">
                <div class="testimonial-item">
                    <div class="testimonial-header">
                        <div class="testimonial-image">
                            <img src="./assets/img/ph-testimonial3.jpg" alt="Nils Weber">
                        </div>
                        <p class="testimonial-name">Nils Weber</p>
                    </div>
                    <div class="testimonial-text">
                        <p>
                            "Seit unser Sohn beim Goyatzer SV ist, hat sich sein Selbstbewusstsein enorm gestärkt. Der
                            Zusammenhalt ist hier wirklich besonders."
                        </p>
                    </div>
                </div>
            </div>
            <!--Testimonial 4-->
            <div class="swiper-slide">
                <div class="testimonial-item">
                    <div class="testimonial-header">
                        <div class="testimonial-image">
                            <img src="./assets/img/ph-testimonial4.jpg" alt="Isabell Huf">
                        </div>
                        <p class="testimonial-name">Isabell Huf</p>
                    </div>
                    <div class="testimonial-text">
                        <p>
                            "Tolle Trainer, die sich um jedes Kind kümmern und Talente fördern. Der Goyatzer SV ist eine
                            absolute Bereicherung."
                        </p>
                    </div>
                </div>
            </div>
            <!--Testimonial 5-->
            <div class="swiper-slide">
                <div class="testimonial-item">
                    <div class="testimonial-header">
                        <div class="testimonial-image">
                            <img src="./assets/img/ph-testimonial5.jpg" alt="Sabine Schmidt">
                        </div>
                        <p class="testimonial-name">Sabine Schmidt</p>
                    </div>
                    <div class="testimonial-text">
                        <p>
                            "Ein Verein, der Gemeinschaft lebt. Meine Tochter freut sich auf jedes Training und auf die
                            Freundschaften, die sie hier geschlossen hat."
                        </p>
                    </div>
                </div>
            </div>
            <!--Testimonial 6-->
            <div class="swiper-slide">
                <div class="testimonial-item">
                    <div class="testimonial-header">
                        <div class="testimonial-image">
                            <img src="./assets/img/ph-testimonial6.jpg" alt="John lang">
                        </div>
                        <p class="testimonial-name">John Lang</p>
                    </div>
                    <div class="testimonial-text">
                        <p>
                            "Sport und Spaß im perfekten Gleichgewicht - der Goyatzer SV schafft eine Umgebung, in der
                            die
                            Kinder spielerisch wachsen können."
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="swiper-pagination testimonial-pagination"></div>
    </div>
</div>