### Folders
.bundles
.sass-cache
/build
/documentation
/vendor
node_modules
.vscode
.yo-repository

### Files
.DS_Store
.ftppass
*.tmp
*.sublime-*
*.bat
*.bak
*.error
*.log
npm-debug.log
config-client.mjs
