<!--Slider mit drei Bildern-->
<div class="slider hero-slider">
  <div class="swiper-wrapper">

    <!--Slider 1-->
    <div class="swiper-slide">
      <div class="swiper-slide-wrapper">
        <img src="./assets/img/title-football.jpg" alt="Fußball" fetchpriority="high" width="930" height="708">

        <!--konstantes Banner vor allen Slidern-->
        <div class="slider-overlay">
          <h1><span class="highlighted">Sport.</span></h1>
          <h1><span class="highlighted">Gemeinschaft.</span></h1>
          <h1><span class="highlighted">Leidenschaft.</span></h1>
          <a href="" class="primary">Jetzt ihr Kind anmelden!</a>
        </div>
        <button class="swiper-slider-pause">&#9208;</button>


      </div>
    </div>

    <!--Slider 2-->
    <div class="swiper-slide">
      <div class="swiper-slide-wrapper">
        <img src="./assets/img/title-tennis.jpg" alt="Tennis" loading="lazy" width="4032" height="3024">

        <!--konstantes Banner vor allen Slidern-->
        <div class="slider-overlay">
          <h1><span class="highlighted">Teamgeist.</span></h1>
          <h1><span class="highlighted">Erfolge.</span></h1>
          <h1><span class="highlighted">Zusammenhalt.</span></h1>
          <a href="" class="primary">Jetzt ihr Kind anmelden!</a>
        </div>
        <button class="swiper-slider-pause">&#9208;</button>


      </div>
    </div>

    <!--Slider 3-->
    <div class="swiper-slide">
      <div class="swiper-slide-wrapper">
        <img src="./assets/img/title-tabletennis.jpg" alt="Tischtennis" loading="lazy" width="1264" height="961">

        <!--konstantes Banner vor allen Slidern-->
        <div class="slider-overlay">
          <h1><span class="highlighted">Training.</span></h1>
          <h1><span class="highlighted">Entwicklung.</span></h1>
          <h1><span class="highlighted">Zukunft.</span></h1>
          <a href="" class="primary">Jetzt ihr Kind anmelden!</a>
        </div>
        <button class="swiper-slider-pause">&#9208;</button>

      </div>
    </div>
  </div>
  <!--Pagination-->
  <div class="swiper-pagination hero-pagination"></div>
</div>