<!--Bildteaser hier: Anzeige für Trainer gesucht, ganzes Feld-->
<div class="bildteaser background-invert">
  <div class="bildteaser-content">
    <div class="bildteaser-text">
      <h3>Wir suchen DICH!</h3>
      <P>
        Der Goyatzer SV Abt. Fußball sucht für seine Nachwuchsabteilungen Übungsleiter/innen.<br><br>Wir bieten im
        Gegenzug beste Bedingungen für einen reibungslosen Ablauf beim Training und im Spielbetrieb.<br><br>Wir würden
        uns sehr freuen, wenn Vereinsmitglieder oder Nichtvereinsmitglieder sich der Aufgabe stellen und die neue
        Herausforderung annehmen würden. 
      </P>
      <a href="https://www.fussball.de/mannschaft/goyatzer-sv-goyatzer-sv-brandenburg/-/saison/2425/team-id/015S8IN9N4000000VV0AG80NVVD9188S#!/"
        class="secondary">
        zum Kontaktformular
      </a>
    </div>
    <div class="bildteaser-img">
      <img src="./assets/img/looking-trainer.jpg" alt="Trainer gesucht" loading="lazy">
    </div>
  </div>
</div>


<!--Newsteaser: Anzeige von vergangenen Spielen der 1. Männermannschaft-->
<h3>Abteilung Fußball Herren</h3>
<div class="newsteaser">
  <!--div letztes Spiel-->
  <div class="newsteaser-game">
    <h4>Letztes Spiel</h4>
    <div class="newsteaser-game-score">
      <div class="newsteaser-game-score-logo1">
        <img src="./assets/img/gsv-logo-removed.png" alt="Logo1" loading="lazy">
      </div>
      <div class="newsteaser-score-date">
        <p>1:0</p>
        <p>08.11.</p>
      </div>
      <div class="newsteaser-game-score-logo2">
        <img src="./assets/img/dynamo_dresden.png" alt="Logo2" loading="lazy">
      </div>
    </div>
    <a href="https://www.fussball.de/mannschaft/goyatzer-sv-goyatzer-sv-brandenburg/-/saison/2425/team-id/015S8IN9N4000000VV0AG80NVVD9188S#!/"
      target="_blank" class="secondary">
      zum Spielbericht
    </a>
  </div>

  <!--div nächstes Spiel-->
  <div class="newsteaser-game">
    <h4>Nächstes Spiel</h4>
    <div class="newsteaser-game-score">
      <div class="newsteaser-game-score-logo1">
        <img src="./assets/img/dynamo_dresden.png" alt="Logo1" loading="lazy">
      </div>
      <div class="newsteaser-score-date">
        <p>1:0</p>
        <p>08.11.</p>
      </div>
      <div class="newsteaser-game-score-logo2">
        <img src="./assets/img/gsv-logo-removed.png" alt="Logo2" loading="lazy">
      </div>
    </div>
    <a href="https://www.fussball.de/mannschaft/goyatzer-sv-goyatzer-sv-brandenburg/-/saison/2425/team-id/015S8IN9N4000000VV0AG80NVVD9188S#!/"
      target="_blank" class="secondary">
      zum Spielbericht
    </a>
  </div>

  <!--div Tabelle-->
  <div class="newsteaser-table">
    <h4>Tabelle</h4>
    <a href="https://www.fussball.de/mannschaft/goyatzer-sv-goyatzer-sv-brandenburg/-/saison/2425/team-id/015S8IN9N4000000VV0AG80NVVD9188S#!/"
      target="_blank">
      <div class="newsteaser-table-ph">
        <img src="./assets/img/newsteaser-table-ph.png" alt="Tabelle" loading="lazy">
      </div>
    </a>
  </div>
</div>

<!--Teaser für Kategorien unten vor Footer-->
<div class="teaser-categories">
  <!--Item Kategorie 1 Nachwuchs Fußball-->
  <div class="teaser-categories-item">
    <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ">
      <div class="teaser-categories-item-img">
        <img src="./assets/img/football-youth.jpg" alt="Bild eines Nachwuchs-Fußballers" loading="lazy">
      </div>
      <div class="teaser-categories-item-text">
        <h4>Nachwuchs Fußball</h4>
      </div>
    </a>
  </div>
  <!--Item Kategorie 2 Impressionen-->
  <div class="teaser-categories-item">
    <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ">
      <div class="teaser-categories-item-img">
        <img src="./assets/img/ph-impressions.jpg" alt="Bild eines Fußballspiels" loading="lazy">
      </div>
      <div class="teaser-categories-item-text">
        <h4>Impressionen</h4>
      </div>
    </a>
  </div>
  <!--Item Kategorie 3 Vereinskollektion-->
  <div class="teaser-categories-item">
    <a href="https://team.jako.com/de-de/team/goyatzer_sv/">
      <div class="teaser-categories-item-img">
        <img src="./assets/img/collections-teampicture.png" alt="Link zur Vereinskollektion" loading="lazy">
      </div>
      <div class="teaser-categories-item-text">
        <h4>Vereinskollektion</h4>
      </div>
    </a>
  </div>
  <!--Item Kategorie Stellenangebote-->
  <div class="teaser-categories-item">
    <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ">
      <div class="teaser-categories-item-img">
        <img src="./assets/img/jobs.png" alt="Bild für offene Stellen im Verein" loading="lazy">
      </div>
      <div class="teaser-categories-item-text">
        <h4>Stellenangebote</h4>
      </div>
    </a>
  </div>
</div>