<!--Kontaktformular für Trainer gesucht-->

<form>
    <h5>Schreiben Sie uns eine Nachricht</h5>
    <p>
        <label for="Vorname">Vorname:</label>
        <input type="text" id="Vorname" required>
    </p>
    <p>
        <label for="Nachname">Nachname:</label>
        <input type="text" id="Nachname" required>
    </p>
    <p>
        <label for="Mail">E-Mail:</label>
        <input type="email" id="Mail" required>
    </p>
    <p>
        <label for="Telefon">Telefon:</label>
        <input type="tel" id="Telefon" >
    </p>
    <p>
        <label for="anfrage">Ihre Anfrage:</label>
        <textarea id="anfrage" name="Anfrage" rows="6" cols="60"></textarea>
    </p>
    <a href="" class="primary" type="submit">Nachricht senden</a>

</form>