  <!--Unsichtbare Checkbox zum Umschalten-->
  <input type="checkbox" id="menu-toggle">

<!--Navigationsbar für Phone und Tablet: Logo und blauer Kasten-->
<div class="navigationbar-phone">
    <a href="/index.html">
          <img src="./assets/img/gsv-logo-removed.png" alt="Logo" width="400px">
    </a>
  <div class="navigationbar-phone-bar">
      <!--Hamburger Button Öffnen-->
      <button class="hamburger-menu" aria-label="Menü öffnen" aria-expanded="false" aria-controls="menu-overlay">
        <span></span>
        <span></span>
        <span></span>
      </button>
  </div>
</div>

<!--Menue Overlay für Phone und Tablet Ansicht-->
<div class="menu-overlay" id="menu-overlay" tabindex="-1">

  <div class="menu-overlay-content">
    <span class="close-menu-overlay" onclick="document.getElementById('menu-toggle').click();">&times;</span>
    <ul>
      <li>
        <!--Icon für football-->
        <svg class="menu-icon" height="40px" width="40px">
          <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-football"></use>
        </svg>
        <a href="#football">Fußball</a>
      </li>
      <li>
        <!--Icon for tennis-->
        <svg class="menu-icon" height="40px" width="40px">
          <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-tennis"></use>
        </svg>
        <a href="#tennis">Tennis</a>
      </li>
      <li>
        <!--Icon for tabletennis-->
        <svg class="menu-icon" height="40px" width="40px">
          <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-tabletennis"></use>
        </svg>
        <a href="#tabletennis">Tischtennis</a>
      </li>
      <li>
        <!--Icon for news-->
        <svg class="menu-icon" height="40px" width="40px">
          <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-news"></use>
        </svg>
        <a href="#news">Aktuelles</a>
      </li>
      <li>
        <!--Icon for about us-->
        <svg class="menu-icon" height="40px" width="40px">
          <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-aboutus"></use>
        </svg>
        <a href="/landingpage.html">Über uns</a>
      </li>
      <li>
        <!--Icon for impressions-->
        <svg class="menu-icon" height="40px" width="40px">
          <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-impressions"></use>
        </svg>
        <a href="#impressions">Impressionen</a>
      </li>
      <li>
        <!-- Icon for contact-->
        <svg class="menu-icon" height="40px" width="40px">
          <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-contact"></use>
        </svg>
        <a href="/contact.html">Kontakt</a>
      </li>
      <li>
        <!--Icon for member-->
        <svg class="menu-icon" height="40px" width="40px">
          <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-member"></use>
        </svg>
        <a href="/member.html">Mitglied werden!</a>
      </li>
    </ul>
  </div>

    <!--social media Kanäle einbinden-->
  <div class="menu-overlay-social-media">
      <a href="https://www.facebook.com/" target="_blank" aria-label="Facebook">
        <svg class="icon">
          <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#facebook"></use>
        </svg>
      </a>
      <a href="https://www.twitter.com/" target="_blank" aria-label="Twitter">
        <svg class="icon">
          <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#twitter"></use>
        </svg>
      </a>
      <a href="https://www.instagram.com/goyatzer_sv/" target="_blank" aria-label="Instagram">
        <svg class="icon">
          <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#instagram"></use>
        </svg>
      </a>
  </div>

</div>

<!--hier kommt die Navigationbar für desktop-Ansicht -->
<div class="navigationbar"> 
  
  <!--Goyatzer SV Logo oben links in der Ecke-->
    <div class="navigation-logo">
      <a href="/index.html">
        <img src="./assets/img/gsv-logo-removed.png" alt="Logo" width="400px">
      </a>
    </div>
  
  <div class="navigationbar-actions-social">
    <!-- Social Media Icons-->
    <div class="navbar-social-media">
        <a href="https://www.facebook.com/" target="_blank" aria-label="Facebook">
          <svg class="icon">
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#facebook"></use>
          </svg>
        </a>
        <a href="https://www.twitter.com/" target="_blank" aria-label="Twitter">
          <svg class="icon">
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#twitter"></use>
          </svg>
        </a>
        <a href="https://www.instagram.com/goyatzer_sv/" target="_blank" aria-label="Instagram">
          <svg class="icon">
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#instagram"></use>
          </svg>
        </a>
      </div>

   <!--Navigationsbar: Menüpunkte und Mitglied werden-button-->
    <div class="navigationbar-actions">
      <ul>
      <li><a href="#football">Fußball</a></li>
      <li><a href="#tennis">Tennis</a></li>
      <li><a href="#tabletennis">Tischtennis</a></li>
      <li><a href="#news">Aktuelles</a></li>
      <li><a href="/landingpage.html">Über uns</a></li>
      <li><a href="#impressions">Impressionen</a></li>
      <li><a href="/contact.html">Kontakt</a></li>
      <li><a href="/member.html">Mitglied werden!</a></li>
      </ul>
    </div>

  </div>
</div>