<!--Image Zoom-->
<div class="image-zoom-headline">
    <h1>Bild für Lupe</h1>
</div>
<div class="thumbnail">
    <div class="thumbnail-image">
        <img src="./assets/img/football-GSV-youth.jpg" alt="Fußball Jugend">
        <svg class="zoom-icon" height="50" width="60">
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#magnifier-glass"></use>
        </svg>
    </div>
    
</div>
<div id="image-overlay" class="overlay hidden">
    <div class="overlay-content">
        <img id="overlay-image" src="" alt="Vergrößertes Bild">
        <span class="close-btn" arial-label="Overlay schließen">close</span>
    </div>
</div>